<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/styles/nav-footer.css">
</head>
<body>
    <footer>
        <div class="footer-container">
            <div class="footer-links">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./pages/lodging.html">Lodging</a></li>
                    <li><a href="./pages/transportation.html">Transportation</a></li>
                    <li><a href="./pages/dining.html">Dining</a></li>
                </ul>
                <ul>
                    <li><a href="./pages/shopping.html">Shopping</a></li>
                    <li><a href="./pages/activities.html">Activities</a></li>
                    <li><a href="./pages/contact.html">Contact Us</a></li>
                    <li><a href="./pages/faq.html">FAQ</a></li>
                </ul>
            </div>
            <div class="social-media">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
    </footer>
</body>
</html>