<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="logo">
                <a href="./index.html">Taniti</a>
            </div>
            <div class="hamburger-icon" id="hamburger-icon">
                &#9776;
            </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../pages/lodging.html">Lodging</a></li>
                <li><a href="../pages/transportation.html">Transportation</a></li>
                <li><a href="../pages/dining.html">Dining</a></li>
                <li><a href="../pages/shopping.html">Shopping</a></li>
                <li><a href="../pages/activities.html">Activities</a></li>
                <li class="mobile-only"><a href="../pages/faq.html">FAQ</a></li>
                <li class="mobile-only"><a href="../pages/contact.html">Contact Us</a></li>
            </ul>
    
        </div>
    </nav>
    <script defer src="./script.js"></script>

</body>
</html>