

main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}


h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
}


h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

h3:hover {
    color: #007BFF;
}


p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #555;
    text-align: center;
}


@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }
}
