

* {
    margin: 0;
    padding: 0;
}

/* Navigation styling located at /styling/nav-footer.css */

/* Global  */

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

body {
    min-height: 100vh;
}

.title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
}

.subtitle {
    text-align: center;
    margin-bottom: 0.8rem;
    color: #333;
}

.info {
    text-align: center;
}

hr {
    height: 0.5rem;
    background-color: #999999;
    margin: 2rem 2rem;
}

.hero {
    height: calc(100vh - 3.1rem);
    width: 100%;
    background-image: url('../assets/island-photo-2.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative
}

.hero-content h1 {
    text-shadow: 4px 4px 8px rgba(254, 250, 4, 0.6);
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    margin-bottom: 22rem;

}

.hero-content p {
    text-shadow: 4px 4px 8px rgba(253, 253, 253, 0.662);
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

.about-island {
    display: flex;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about-photo, .island-info {
    flex: 1;
    padding: 1rem;
}

.about-photo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.island-info p {
    font-size: 1rem;
    line-height: 1.6;
}



.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    position: relative;
}

.card a {
    display: block;
    position: relative;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 0 solid #ddd;
    border-radius: 8px;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }

    .content {
        flex-direction: column;
    }

    .hero h1 {
        margin-bottom: 14rem;
    }

    .card {
        margin-bottom: 1rem;
    }
}






